.map {
  width: 100%;
  height: 60vh;
  margin-top: 2px;
  margin-right: 8px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  overflow-x: hidden;
  margin-right: 5px;
  margin-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  font: 20px Roboto, "Helvetica Neue", sans-serif;
}

.alignleft {
  flex-basis: auto;
  text-align: left;
  width: 250px;
  font: 20px Roboto, "Helvetica Neue", sans-serif;
}

.alignright {
  border-radius: 5px;
  flex-basis: auto;
  text-align: left;
  width: 250px;

  font: 20px Roboto, "Helvetica Neue", sans-serif;
}

input[type="text"] {
   width: 242px;
}

h4 {
  font: 25px Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-style: italic;
}

p {
  font: 20px Roboto, "Helvetica Neue", sans-serif;
  margin-left: 12px;
}

.searchresults {
  border-style: solid;
  border-width: 2px;
}

body {
  margin-top: 8px;
}
