.container {
  display: flex;
  background-image: linear-gradient(#07487D, #77CECF);
}

.form-container {
  flex: 1;
}

.queue {
  flex: 1;
  border: 1px solid black;
  /* position: relative; */
  background-color: #fff;
  
  padding: 10px;
  overflow-y: auto;
}

.map-container {
  flex: 2;
  height: 88vh; /* Adjust this as needed */
}



/* .full {
    flex: 2;
    width: 48vw;
    height: 48vh;
    margin: 0;
    padding: 0;
    
} */



