.landing-page {
    background-color: #E6E7E8;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
}

.dropdownIcon {
    width: 30px;
    height: auto;
}

.dropdown-btn {

    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: none;
    visibility: hidden;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


.dropdown:hover .dropdown-content {
    display: block;
    visibility: visible;
    animation-name: fade-in;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.dropdown-content li {
    padding: 10px;
}

.dropdown-content li:hover {
    background-color: #ddd;
}

.center-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    text-align: center;
}

.logo {
    width: 400px;
    /* Adjust the size as needed */
    height: auto;
    animation-name: breathing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}



@keyframes breathing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.logoText {
    width: 400px;
    height: auto;
    margin-top: 20px;
}


.site-name {
    margin-top: 10px;
    font-size: 1.5rem;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.input-label {
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.input-box {
    width: 300px;
    /* Adjust the width as needed */
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    background-color: transparent;
    margin-bottom: 90px;
}

@keyframes cursor-blink {
    0% {
        border-color: #ccc;
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: #ccc;
    }
}