.container {
  display: flex;
  background-image: linear-gradient(#07487D, #77CECF);
}

.form-container {
  flex: 1;
}

.weather-icon {
height:40px;
margin-bottom: -15px;
}

.weather-temp {
font-size: 18px;
}

.queue {
  flex: 1;
  border: 1px solid black;
  /* position: relative; */
  background-color: #fff;
  height: 60vh;
  padding: 10px;
  overflow-y: scroll;
}

.map-container {
  flex: 2;
  height: 88vh;
  /* Adjust this as needed */
}

.places-container {
  /* width: 300px; */
  flex: 1;
  height: 60vh;
  overflow-y: auto;
  /* position: fixed; */
  /* right: 0; */
  /* top: 0; */
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  /* border: 1px solid black; */
}

.places-container h3 {
  margin-top: 0;
}

.places-container ul {
  padding-left: 20px;
}


/* .full {
    flex: 2;
    width: 48vw;
    height: 48vh;
    margin: 0;
    padding: 0;
    
} */